.movie-card {
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 400px;
    width: 400px;
}

.movie-card.card {
    height: 450px;
}

.movie-btn.movie-btn{
 margin-top: 20px;
}

.card-footer-badge {
    font-size: 1rem;
}
